<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Jquery and Bootstrap</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <link href="css/layout.css" rel="stylesheet">
    </head>
    <body class="text-center">

      <div class="container">

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            
              <div class="modal-body text-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>

        </div>
        
        <form action="http://localhost:3000/historicalConvert" id="formForex" method="post" >

            <label for="formCurrencyFrom">Choose a currency from</label>
            <select class="form-control" id="formCurrencyFrom" name="currency_from" form="formForex">
            </select><br/>

            <label for="formCurrencyTo">Choose a currency to</label>
            <select class="form-control" id="formCurrencyTo" name="currency_to" form="formForex">
            </select><br/>


            <label for="amount">Input Amount</label>
            <input type="text" id="formAmount" name="amount" value="1">

            <label for="historicaldate">Pick Date</label>
            <input type="date" id="formHistoricalDate" name="historical_date">

            <br/><br/>

            <button id="submitBtn" type="submit">Convert</button>
        </form>

        <label>Converted Amount</label>
        <input type="text" id="convertedAmount" name="converted_amount" disabled>

        <br/><button id="refreshBtn" type="button">Refresh</button>


      </div> 
    </body>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            var MSG_CURRENCY_FROM="Select a Currency from";
            var MSG_CURRENCY_TO="Select a Currency to";
            var MSG_ERROR="Oops. something went wrong. please refresh the page";

            var API_CURRENCIES_URL="http://localhost:3000/currencies";
            var API_CONVERT_URL="http://localhost:3000/historicalConvert";

            var FORMNAME_CURRENCY_FROM="currency_from";
            var FORMNAME_CURRENCY_TO="currency_to";

            function showLoadingModal()
            {
                $('#myModal').modal({
                    backdrop: "static",
                    keyboard: false,
                    show : true
                })

                setTimeout(()=>{
                    hideLoadingModal();
                },5000);
            }

            function hideLoadingModal()
            {
                $('#myModal').modal("hide");
            }

            function initForm()
            {
                $("#formForex").on("submit",function(evt)
                {
                    showLoadingModal();
                    evt.preventDefault();
                    console.log("submit");

                    //console.log("evt:" + JSON.stringify(evt) );
                    var req = $("#formForex").serialize();
                    console.log("req:"+req);

                    $.ajax({
                        url: API_CONVERT_URL,
                        method: 'POST',
                        data: req
                    })
                    .then(function(d)
                    {
                        if(d)
                        {
                            console.log("d:"+d);
                            $("#convertedAmount").val(d);
                        }
                        else
                        {
                            alert(MSG_ERROR);

                            $("#submitBtn").hide();
                            $("#refreshBtn").show();
                        }
                        

                        hideLoadingModal();
                    })
                    .fail(function(err)
                    {
                        //hideLoadingModal();
                        alert(err);
                    })
                })
            }

            function initButtonFunctions()
            {
                // $("#submitBtn").click(()=>{
                //     console.log("submit");

                //     var currencyFrom = $("#formCurrencyFrom option:selected").val();
                //     var currencyTo = $("#formCurrencyTo option:selected").val();
                //     var amt = $("#formAmount").val();
                //     var historicalDate = $("#formHistoricalDate").val();

                //     console.log("currencyFrom:"+currencyFrom);
                //     console.log("currencyTo:"+currencyTo);
                //     console.log("amt:"+amt);
                //     console.log("historicalDate:"+historicalDate);

                //     $.ajax({
                //         url: API_CONVERT_URL+"?currency_from="+currencyFrom+"&=",
                //         method: 'POST',
                //         data: req
                //     })
                //     .then(function(d)
                //     {

                //     })
                // });

                $("#refreshBtn").click(()=>{
                    alert("reload");
                    location.reload();
                });
            }
            
            function initCurrencyForm()
            {
                console.log("\n\nlistCurrencies()");
                hideLoadingModal();

                jQuery.get(API_CURRENCIES_URL, function(data){
                try
                {
                    //console.log("data:" + data);

                    // clear drop-downs
                    $("#formCurrencyFrom").empty();
                    $("#formCurrencyTo").empty();

                    // fill drop-down for currency from values
                    $.each(data, function(i, item){
                        $("#formCurrencyFrom").append("<option value=\""+item+"\""+" >"+item+"</option>");
                        $("#formCurrencyTo").append("<option value=\""+item+"\""+" >"+item+"</option>");
                    })

                    $("#formCurrencyFrom").show();
                    $("#formCurrencyTo").show();

                    // initialize buttons' visibility
                    $("#submitBtn").show();
                    $("#refreshBtn").hide();

                    hideLoadingModal();

                    // // select from a list of billers
                    // $("#formCurrencyFrom").change(function()
                    // {
                    // showLoadingModal();
                    // clearForms();

                    // billerCode = $("#formCurrencyFrom option:selected").val();
                    // if(billerCode!="")
                    // {
                    //     console.log("\nSELECTED " + billerCode);
                    //     $.ajax({
                    //         url: API_BILLER_PARAMETER_URL+"/"+accessToken+"/"+billerCode
                    //     })
                    //     .then(function(data)
                    //     {
                    //         // get the parameters from the reponse using the keys
                    //         verifyParams=data[BAYADCENTER_API_BILLER_PARAMETER_KEY_VERIFY];
                    //         transactParams=data[BAYADCENTER_API_BILLER_PARAMETER_KEY_TRANSACT];

                    //         console.log("SELECTED response=>data:" + JSON.stringify( data ) );
                    //         console.log("SELECTED response=>data.verify.length:" + data[BAYADCENTER_API_BILLER_PARAMETER_KEY_VERIFY].length );
                    //         console.log("SELECTED response=>data.verify.length:" + data[BAYADCENTER_API_BILLER_PARAMETER_KEY_TRANSACT].length );

                    //         $(FORM_VERIFY_JQUERY_NAME)
                    //                 .append('<input class="form-control" name="'+ FORM_KEY_ACCOUNT_ID 
                    //                 +'" type="text" placeholder="Account Id" />');

                    //         if(verifyParams.length>0)
                    //         {
                    //             $.each(verifyParams, function(i, item){
                    //             const keyName = Object.keys(item);
                    //             //   console.log("\nlabel:" + item[keyName].label );
                    //             //   //console.log("rules:" + JSON.stringify(item[keyName].rules) );

                    //             $(FORM_VERIFY_JQUERY_NAME)
                    //                 .append('<input class="form-control" name="'+ keyName 
                    //                 +'" type="text" placeholder="'+item[keyName].label+'" />');

                    //             });

                    //             $(FORM_VERIFY_JQUERY_NAME).append("<button id=\"submitBtn\" class=\"btn btn-lg btn-primary btn-block\" >"
                    //             + VERIFY_BUTTON_TEXT +"</button>");
                    //             showVerifyForm();

                    //             hideLoadingModal();
                    //         }
                    //         else
                    //         {
                    //             console.log("verifyParams.length <= 0");
                    //             hideVerifyForm();
                    //             alert("No fields to show");
                    //             hideLoadingModal();
                    //         }
                    //     })
                    //     .fail(function(err){
                    //     console.error(err);
                    //     })
                    // }
                    // });
                }
                catch(e){
                    $("#submitBtn").hide();
                    $("#refreshBtn").show();
                }
            })
            }

            function init()
            {
                showLoadingModal();
                initForm();
                initButtonFunctions();
                initCurrencyForm();
            }

            $(document).ready(function(){
                $('#formHistoricalDate').val(new Date().toISOString().slice(0, 10));
                $("#formCurrencyFrom").hide();
                init();
            });
        </script>
</html>